<%- include("partials/header.ejs") %>
       
<div class="px-4 py-5 my-5 text-center">
    
    <img class="d-block mx-auto mb-4" src="img/profile_pic_2.JPG" alt="profile_pciture" height="300">
    <h1 class="display-5 fw-bold text-body-emphasis">WEBNOOB</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Aspiring fullstack web-developer, diving deep into Udemy courses for skillset upgrades!</p>
    </div>
</div>
    
<%- include("partials/footer.ejs") %>
    