<%- include("partials/header.ejs") %>
       
<h1 class="h1_contact">CONTACT</h1>

<p>MOBILE: +63 906xxxxxxx</p>
<p>EMAIL: xxxxx.xxxx@gmail.com</p>
<p>LINKEDIN: Christopher</p>
<p>FB: WEBNOOB</p>
    
<%- include("partials/footer.ejs") %>
    